<div class="container-fluid">
  <h2>User Profile</h2>
  <h4>Username: {{user.username}}</h4>
  <h4>First Name: {{user.firstName}}</h4>
  <h4>Last Name: {{user.lastName}}</h4>
  <h4>Email: {{user.email}}</h4>

  <div *ngIf="user.role==='author'">
  <h4>Bio: {{user.bio}}</h4>
  <h4>Snippet: {{user.snippet}}</h4>
    <h2>Authored Books :{{books.length}}</h2>
    <div *ngFor="let token of books">
      <ul class="list-group">
        <li class="list-group-item">
          {{token.book.title}}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="user.role==='reader'">
    <h2>Liked Books :{{books.length}}</h2>
    <div *ngFor="let token of books">
      <ul class="list-group">
        <li class="list-group-item">
          {{token.book.title}}
        </li>
      </ul>
    </div>

    <h2>Reviews :{{reviews.length}}</h2>
    <div *ngFor="let token of reviews">
      <ul class="list-group">
        <li class="list-group-item">
          Book Title: {{token.book.title}}
          <br>
          {{token.title}}
          <br>
          {{token.text}}
        </li>
      </ul>
    </div>
  </div>

  <h2>Following :{{following.length}}</h2>
  <div *ngFor="let token of following">
    <ul class="list-group">
      <li class="list-group-item">
        {{token.following.firstName}}  {{token.following.lastName}}
      </li>
    </ul>
  </div>

  <button (click)="followUser()"
    class="btn btn-primary">Follow</button>

</div>
