<div class="bg">

<div class="jumbotron" align="center">
  <a routerLink="/profile">Profile</a>
  &nbsp; &nbsp;
  <a routerLink="/search">Search</a>
  &nbsp; &nbsp;
  <a routerLink="/community">Bookmarked Community</a>
  &nbsp; &nbsp;
  <a routerLink="/login">Login</a>
  &nbsp; &nbsp;
  <a routerLink="/register">Register</a>
  <br>
  <br>
  <h1>Welcome to Bookmarked</h1>
  <br>
  <h2>Portal for Avid Readers and Budding Authors!</h2>
  <br>
  <br>
  <br>
  <h3 align="center">
    "Books are a uniquely portable magic!" -  Stephen King
  </h3>
  </div>

</div>

