<div class="bg">
  <div class="jumbotron">
  <h1>Profile</h1>

  <input [(ngModel)]="username"
         readonly
         placeholder="username"
         class="form-control"/>
  <br>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <br>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <br>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>
  <br>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <br>
  <h2>Liked Books :{{likedBooks.length}}</h2>
  <div *ngFor="let token of likedBooks">
    <ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/book/{{token.book.id}}">  {{token.book.title}}</a>
    <button (click)="unlike(token.book._id)"
      class="float-right btn btn-danger">Unlike</button>
  </li>
    </ul>
</div>
  <br>
  <h2>Reviews :{{reviews.length}}</h2>
  <div *ngFor="let token of reviews">
    <ul class="list-group">
      <li class="list-group-item">
        Book Title:  <a routerLink="/book/{{token.book.id}}">  {{token.book.title}}</a>
        <br>
        {{token.title}}
        <br>
        {{token.text}}
        <button (click)="removeReview(token.book._id)"
          class="float-right btn btn-danger">remove</button>
      </li>
    </ul>
  </div>
<br>
  <h2>Following :{{following.length}}</h2>
  <div *ngFor="let token of following">
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/user/{{token.following._id}}">   {{token.following.firstName}}  {{token.following.lastName}}</a>
        <button (click)="unfollow(token.following._id)"
          class="float-right btn btn-danger">unfollow</button>
      </li>
    </ul>
  </div>

    <h2>Followed By :{{followedby.length}}</h2>
    <div *ngFor="let token of followedby">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="/user/{{token.follower._id}}">   {{token.follower.firstName}}  {{token.follower.lastName}}</a>
        </li>
      </ul>
    </div>

  <br>
  <button class="btn btn-success" (click)="logout()">Logout</button>
  &nbsp; &nbsp;
  <a routerLink="/home">Home</a>
  &nbsp; &nbsp;
  <a routerLink="/community">Bookmarked Community</a>
  &nbsp; &nbsp;
  <a routerLink="/search">Search</a>
</div>
</div>
