<div class="jumbotron">
  <a routerLink="/profile" *ngIf="role==='reader'" >Profile</a>
  <a routerLink="/author-page" *ngIf="role==='author'">My Page</a>
  <a routerLink="/admin-page" *ngIf="role==='admin'" >Admin-Page</a>
  &nbsp; &nbsp;
  <a routerLink="/community">Bookmarked Community</a>
  &nbsp; &nbsp;
  <a routerLink="/login">Login</a>
  &nbsp; &nbsp;
  <a routerLink="/register">Register</a>
  &nbsp; &nbsp;
  <a routerLink="/home">Home</a>
  <br>
  <br>
  <div class="container-fluid">

    <div>
      <input [(ngModel)]="title" class="form-control" placeholder="Title" >
      <small class="form-text text-muted">Please enter atleast one word of the title of the book</small>
    </div>

    <div>
      <input [(ngModel)]="author" class="form-control" placeholder="Author" >
      <small class="form-text text-muted">Optional: Enter the author name to enhance search</small>
    </div>

    <button
      class="btn btn-success btn-block"
      (click)="findBook(title, author)">
      Find Book!
    </button>

  </div>
  <br/>
  <br/>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let book of books">
    <div>
      <img src={{book.volumeInfo.imageLinks.smallThumbnail}}/> &nbsp; &nbsp;
      <a routerLink="/book/{{book.id}}"> {{book.volumeInfo.title}}</a>
    </div>
  </li>

</ul>
</div>
