.bg{
  width: 100%;
  background: url('https://images.pexels.com/photos/256477/pexels-photo-256477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  repeat center;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;top:0; left:0
}
.jumbotron{
  opacity: 0.9;
  font-size: medium;
}
