<div class="container-fluid">
  <h2>Book Details</h2>
  <h3>{{book.volumeInfo.title}}</h3>
  <div *ngFor="let author of book.volumeInfo.authors"><h3>{{author}}</h3></div>
  <div>  <h4>Publisher: {{book.volumeInfo.publisher}}</h4>
  <h4>Published Date: {{book.volumeInfo.publishedDate}}</h4>
  <h4>Reader Rating: {{book.volumeInfo.averageRating}}</h4>
  <img src={{book.volumeInfo.imageLinks.smallThumbnail}}/>
    <button class="btn btn-success" (click)="this.likeBook(book.id,book.volumeInfo.title)">Like!</button>
  </div>
  <div class="container-fluid">
  <h4>Plot</h4>
  <h4>{{book.volumeInfo.description}}</h4>
  </div>
  <div class="container-fluid">
    <br>
    <h4>Write a Review</h4>
    <br>
    <input [(ngModel)]="reviewTitle"
           placeholder="Summary"
           class="form-control"/>
    <br>
    <input [(ngModel)]="reviewText"
           placeholder="Details"
           class="form-control"/>
    <br>
    <button (click)="this.submitReview(book.id,book.volumeInfo.title)"
      class="btn btn-success">Submit Review!</button>

  </div>
</div>
