<div class="bg">
  <div class="jumbotron">
    <a routerLink="/profile" *ngIf="role==='reader'" >Profile</a>
    <a routerLink="/author-page" *ngIf="role==='author'">My Page</a>
    <a routerLink="/admin-page" *ngIf="role==='admin'" >Admin-Page</a>
    &nbsp; &nbsp;
    <a routerLink="/community">Bookmarked Community</a>
    &nbsp; &nbsp;
    <a routerLink="/home">Home</a>
    &nbsp; &nbsp;
    <a routerLink="/search">Search</a>
    &nbsp; &nbsp;


    <br>
    <br>

    <div class="row">
      <div class="col-sm-3">
        <img  height="250px" width="250px" align="left" src={{book.volumeInfo.imageLinks.smallThumbnail}}/>
      </div>

      <div class="col-sm-9">
      <h3  align="left">{{book.volumeInfo.title}}</h3>
      <div  align="left" *ngFor="let author of book.volumeInfo.authors"><h3>{{author}}</h3></div>
      <div  align="left">  <h4>Publisher: {{book.volumeInfo.publisher}}</h4>
      <h4  align="left">Published Date: {{book.volumeInfo.publishedDate}}</h4>
      <h4  align="left">Reader Rating: {{book.volumeInfo.averageRating}}</h4>
      <h4  align="left">Likes by BookMarkers: {{likes}}</h4>
      </div>
      </div>
    </div>


  <div class="container-fluid">
  <br><br>
  <h3>Summary</h3>
  <br>
    <p [innerHTML]="book.volumeInfo.description"></p>
    <br>
    <button *ngIf="alreadyLikes===0 && role !== 'author'" class="btn btn-success"
            (click)="this.likeBook(book.id,book.volumeInfo.title)">Like!</button>
    <button *ngIf="alreadyLikes===1" disabled
            class="btn btn-success">Liked</button>
    <button *ngIf="role==='author'" disabled
            class="btn btn-success">You are an Author!</button>
    <small class="form-text text-muted">Login/Register to like</small>
    <br>
  </div>


    <div class="row">
      <div class="col-sm-6">
    <h4>Write a Review</h4>
    <small class="form-text text-muted">Login/Register to review</small>
    <br>
    <input [(ngModel)]="reviewTitle"
           placeholder="Summary"
           class="form-control"/>
    <br>
    <textarea [(ngModel)]="reviewText"
           placeholder="Details"
              class="form-control"></textarea>
    <br>
    <button  *ngIf="role!=='author'"
      (click)="this.submitReview(book.id,book.volumeInfo.title)"
      class="btn btn-success">Submit Review!</button>
        <button *ngIf="role==='author'" disabled
                class="btn btn-success">You are an Author!</button>
  </div>
    <div class="col-sm-6">
      <h4>Reviews by Bookmarkers</h4>
      <div *ngFor="let token of reviews">
        <ul class="list-group">
          <li class="list-group-item">
            {{token.title}} - <a routerLink="/user/{{token.user._id}}">{{token.user.firstName}} {{token.user.lastName}}</a>
            <br>
            {{token.text}}
          </li>
        </ul>
      </div>
    </div>
</div>
</div>
</div>
